<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>TVtracker</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  </head>
  <body>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
