<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>TVtracker</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  </head>
  <body>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <% if Helpers.is_logged_in?(session) %>
    <nav>
      <a href="/account" class="left">My Shows</a>
      <a href="/categories">My Categories</a>
      <a href="/tags">My Tags</a>
      <a href="/logout">Logout</a>
    </nav>
  <% else %>
    <nav>
      <a href="/" class="left">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </nav>
  <% end %>
  <main>
    <%= yield %>
    <% if Helpers.is_logged_in?(session) %>
      <a href="/tags/new"><h3>Add a new tag</h3><a>
      <a href="/shows/new"><h3>Add a new show</h3></a>
      <a href="/categories/new"><h3>Add a new category</h3></a>
    <% end %>
  </main>
  </body>
</html>
