<form method="POST" action="/signup">
  <label>Username: <input type="text" name="user[name]"></label>
  <br>
  <label>Password: <input type="password" name="user[password]"></label>
  <br>
  <input type="submit" value="Signup">
</form>
